<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link
        href="https://fonts.googleapis.com/css2?family=Chilanka&family=Lato&family=Quicksand&family=Raleway:wght@300;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="css/users.css" <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>

<body>
    <div class="container-head">
        <div class="heading">
            All registered users
        </div>
    </div>
    <div>
        <div class="head" style="display:flex; justify-content: center;">
        </div>
        <table>
            <thead>
                <tr>
                    <th style="padding: 10px">Image</th>
                    <th style="padding: 10px">Name</th>
                    <th style="padding: 10px">Email</th>
                </tr>
            </thead>
            <tbody>
                {{#each registered}}
                <tr>
                    <td><img class="image" src={{this.image}} /></td>
                    <td>{{this.displayName}}</td>
                    <td>{{this.email}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>


</html>